 <div bsModal #formFormula="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" 
            id="formFormula">
            
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">Ingreso de datos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideFormFormula()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
              <div>
                 <label class="lbl-first-section">From:</label> 
              </div>
              <div>
                <select class="sel-option" name="from" [ngModel]="selectedObject.from">
                  <option  *ngFor="let item of fromItems">{{item}}</option>
                </select>
            </div>
              <div> 
                <label class="lbl-first-section">Where:</label>
              </div>
              <div>
                <select class="sel-option" name="where" [ngModel]="selectedObject.where">
                  <option  *ngFor="let item of whereItems">{{item}}</option>
                </select>
              </div>
              <hr>
             <div>
                <label class="lbl-second-section">Pais:</label>
                <select class="sel-option" name="country" [ngModel]="selectedObject.country">
                  <option  *ngFor="let item of countryItems">{{item}}</option>
                </select>
                <label class="lbl-second-section">Empresa:</label>
                <select class="sel-option" name="company" [ngModel]="selectedObject.company">
                  <option  *ngFor="let item of companyItems">{{item}}</option>
                </select>
             </div>
              <div>
                <label class="lbl-second-section">Departamento:</label>
                <select class="sel-option" name="department" [ngModel]="selectedObject.department">
                  <option  *ngFor="let item of departmentsItems">{{item}}</option>
                </select>
                <label class="lbl-second-section">Perido:</label>
                <select class="sel-option" name="period" [ngModel]="selectedObject.period">
                  <option  *ngFor="let item of periodsItems">{{item}}</option>
                </select>
                <button class="btn btn-primary btn-sm" type="submit" >Confirmar</button>
              </div> 
          </form>
          </div>
        </div>
      </div>
</div>