<div bsModal #formText="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" 
            id="formText">
            
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">Ingreso de datos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideTextForm()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
            <div>
              <table style="width:100%">
                <tr>
                  <th>Descripción</th>
                  <th>Tamaño de Letra</th>
                </tr>
                <tr>
                  <td>
                    <textarea style="resize:none; width: 680px; height: 50px;"></textarea>
                  </td>
                  <td>
<!--                    <input type="number" required #fontSize="ngModel" [(ngModel)]="cell.size" 
                        name="fontSize" value="12" >
                    <span *ngIf="fontSize.valid">Valor Inválido</span> -->
                   <input type="number" required #fontSize name="fontSize" min="1" max="50" value="12" >
                  </td>
                </tr>
              </table> 
           </div>
            <br/>
            <div style="height: 50px;">
                <label>Fuente</label>
                <select>
                  <option *ngFor="let font of listFonts">{{font}}</option>
                </select>
                <label>Color de fondo </label>
                <select>
                  <option  *ngFor="let color of listColors">{{color}}</option>
                </select>
                <label>Color de texto </label>
                <select>
                  <option  *ngFor="let color of listColors">{{color}}</option>
                </select>
                <label>Subrayado</label>
                <input type="checkbox" name="chkSubrayado"> 
                <label>Negrilla</label>
                <input type="checkbox" name="chkNegrilla">
                <label>Cursiva</label>
                <input type="checkbox" name="chkCursiva">
                <button class="btn btn-primary btn-sm" type="submit">Confirmar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
</div>