<div bsModal #formText="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" 
            id="formText">
            
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" style="text-align:center;">Ingreso de datos</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideTextForm()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSaveCell()">
              <div>
                <table style="width:100%">
                  <tr>
                    <th>Descripción</th>
                    <th></th>
                  </tr>
                  <tr>
                    <td>
                      <textarea  [(ngModel)]="textValue" type="string" id="textValue" name ="textValue"  
                      style="resize:none; width: 680px; height: 50px;"></textarea>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm" type="submit" [disabled]="!textValue">Confirmar</button>
                    </td>
                  </tr>
                </table> 
            </div>
            <br/>
            <alert id="alertMessage" type="success" [dismissOnTimeout]="TIMEOUT" (onClose)="hideForm()"  *ngIf="muestraAlerta">
              <strong>Cambios Realizados!</strong>
            </alert>
            </form>
          </div>
        </div>
      </div>
</div>